/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Inknut+Antiqua:wght@800&family=Open+Sans&display=swap');

body {
    max-width: 760px;
    margin: 0 auto;
}

header,
footer {
    background-color: #312e8f;
    border-radius: 7px;
}

#portrait {
    float: right;
    max-width: 165px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 7px;
    filter: drop-shadow(3px 2px 4px grey);
}

#portrait:hover {
    filter: drop-shadow(3px 2px 4px black);
}

h1 {
    color: #ffd145;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Inknut Antiqua', serif;
    font-size: 40pt;
    filter: drop-shadow(3px 2px 4px black);
    
}

h2 {
    font-family: sans-serif;
    margin-right: 10px;
    border-bottom: 5px solid gray;
    padding-bottom: 5px;
}

.dates,
#copyright {
    color: white;
    text-align: center;
}

#copyright {
    padding-top: 15px;
}

.dates {
    padding-top: 5px;
    padding-bottom: 12px;
}

nav {
    padding-bottom: 60px;
    padding-left: 60px;
}

nav h2, nav ul {
    font-family: 'Open Sans', sans-serif;
}

#copyright a {
    color: white;
}

#copyright a:hover {
    color: lightgrey;
}

#copyright a:active {
    color: #ffd145;
}

.dates {
    font-size: 12pt;
    font-family: 'Inconsolata', monospace;
    color: #ffd145;
}

@media screen and (max-width: 560px) {
    #portrait {
        float: right;
        margin-left: 10px;
        margin-bottom: 25px;
    }

    body {
        max-width: 380px;
    }

    h1 {
        margin-left: 8px;
        margin-top: 60px;
        font-size: 32pt;
    }

    nav {
        margin-top: 60px;
    }

    #separate {
        display: none;
    }

    footer span {
        display: block;
    }

}