body {
    max-width: 960px;
    margin: 10px auto;
}

main {
    font-family: 'Montserrat', sans-serif;
    color: #50514f;
    padding: 15px;
}

.bold {
    font-style: normal;
    font-weight: bold;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}

.mont-alt {
    font-family: 'Montserrat Alternates', sans-serif;
}

.inco {
    font-family: 'Inconsolata', monospace;
}

header {
    background-color: #50514f;
    padding: 15px;
}

.main-logo {
    width: 8em;
    display: block;
    margin: auto;
}

.logo {
    width: 8em;
}

img.persona {
    max-width: 350px;
    margin-top: 30px;
}

ul.audience {
    margin-bottom: 40px;
}

header h1, header h2 {
    color: #fff914;
    text-align: center;
    filter: drop-shadow(3px 2px 4px black);
}

h1, h2, h3, h4, h5, h6 {
    color: #f25f5c;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
}

h2 {
    font-size: 1.75rem;
}

h3, h4 {
    margin-bottom: -8px;
}

p {
    margin-bottom: 25px;
}

nav {
    margin: 15px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #247ba0;
    text-align: center;
}

nav ul {
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li a {
    display: block;
    color: #ffc600;
    font-family: 'Montserrat', sans-serif;
    font-size: .9em;
	padding: 0.75rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #ffc600;
    color: #247ba0;
}

.active, .active:hover {
	color: white;
}

footer {
    background-color: #50514f;
    text-align: center;
    padding: 25px;
    margin-top: 1.25rem;
    font-size: 1.1rem;
    font-family: 'Inconsolata', monospace;
    color: white;
    line-height: 1.5rem;
}

#copyright a {
    color: white;
}

#copyright a:hover {
    color: lightgrey;
}

#copyright a:active {
    color: #ffe066;
}

.dates {
    font-size: 12pt;
    color: #ffc600;
}

footer span {
    display: block;
}

.separate {
    display: none;
}